<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% block styles %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
              integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css"
              href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.min.css"/>
        <link rel='stylesheet' href='https://cdn.form.io/js/5.0.0/formio.full.min.css'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
              crossorigin="anonymous">
        <link href="static/css/main.css" rel="stylesheet">
        <link href="static/css/base.css" rel="stylesheet">
        <link href="static/css/popup.css" rel="stylesheet">
        <link href="static/css/context_menu.css" rel="stylesheet">
        {% block header %}{% endblock %}
        <link rel="shortcut icon" href="static/img/lis.png">
    {% endblock %}
</head>

<body>
<nav>
    <div>
        <div>
            <img src="{{ url_for('static', filename='img/warning.png') }}" alt="" height="40">
            <img src="{{ url_for('static', filename='img/computer-repair.png') }}" alt="" height="40">
            {% if current_user.is_authenticated %}
                <ul id="navbar"></ul>
            {% endif %}
        </div>
        <a href="{{ url_for('auth.logout') }}">
            <button class="btn btn-success navbar-btn">Logout</button>
        </a>&nbsp;&nbsp;
        <a style="white-space: nowrap;">Hi, {{ current_user.username }}!</a>

    </div>
    <div>
        <div class="button-menu-placeholder"></div>
    </div>
    <div>
        <div class="filter-menu-placeholder"></div>
    </div>
    <div>
        <div class="column-visible-placeholder"></div>
    </div>
</nav>

<main>
    {% block body %}
    {% endblock %}
</main>

<footer><p class="copyright text-muted small">{{ version }}</p></footer>
{% block scripts %}
    {{ JSGlue.include() }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/6.0.0/bootbox.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/2.1.8/js/dataTables.min.js"></script>
    <script src='https://cdn.form.io/js/5.0.0/formio.full.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js"
            integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ=="
            crossorigin="anonymous"></script>
    <script>
        const current_user_level = {{ (current_user.level or 0)|tojson }};
        const stand_alone = {{ (stand_alone or False)|tojson }};
        const default_view = {{ (default_view or False)|tojson }};
        const suppress_navbar = {{ (suppress_navbar or False)|tojson}};
    </script>

    <script type="module">
        import {socketio} from "../../static/js/common/socketio.js";
        socketio.init();
    </script>
    <script type="module" src="/static/js/base.js"></script>

{% endblock %}
</body>
</html>
