{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="static/css/datatables.css">
{% endblock %}

{% block body %}
    {{ super() }}

    {% if table_config %}
        <div class="container-fluid center">
            <table class="right-click-canvas display" id="datatable">
                <thead>
                <tr>
                    {% if 'row_detail' in config %}
                        <th></th>
                    {% endif %}
                    {% for h in table_config.template %}
                        {% if h.name=='row_action' %}
                            <th><input type='checkbox' id="select_all"></th>
                        {% elif h.name=='reviewed' %}
                            <th><img src="static/img/reviewed.png" style="width:20px;height:20px;"
                                     title="Reeds gecontroleerd?"></th>
                        {% else %}
                            <th title="{{ h.tt if 'tt' in h else '' }}">{{ h.name }}</th>
                        {% endif %}
                    {% endfor %}
                </tr>
                </thead>
            </table>
        </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ super() }}
    {% if table_config %}
        <script>
            const table_config = {{ (table_config or []) | tojson }};
            const current_user_is_at_least_admin = {{ current_user.is_at_least_admin | tojson }};
        </script>
        <script type="module" src="/static/js/datatables/cell_edit.js"></script>
        <script type="module" src="/static/js/datatables/dt.js"></script>
    {% endif %}
{% endblock %}
