{% extends "base.html" %}

{% block styles %}
    {{ super() }}
    <style>
        main img {
            width: 800px;
        }

        main > div {
            display: flex;
            flex-direction: column;
        }
    </style>
{% endblock %}



{% block body %}
    {{ super() }}
    <div>
        <img src="static/img/help/lis-category.png">
        <img src="static/img/help/lis-state-incident.png">
        <img src="static/img/help/lis-state-loan.png">
        <img src="static/img/help/lis-state-return.png">
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="module">
        import {base_init} from "/static/js/base.js";

        $(document).ready(function () {
            base_init({});
        });
    </script>
{% endblock %}
