<link href="static/css/form.css" rel="stylesheet">
<form id="history-form">
    <div class="form-row">
        <div class="form-element">
            <label>LIS badgenummer<input id="lis-badge-field" name="lis_badge_id" disabled></label>
        </div>
    </div>
    <div class="form-row" id="owner-row">
        <div class="form-element">
            <label>Eigenaar<input id="owner-field" name="laptop_owner_name"></label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element">
            <label>Laptop<input id="laptop-field" name="laptop_name" size="40"></label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element">
            <table id="history-table">
                <tr><th>Datum</th><th>Hersteller</th><th>Prio</th><th>Status</th><th>Locatie</th><th>Info</th><th>Type</th></tr>
            </table>
        </div>
    </div>
</form>
