<link href="static/css/form.css" rel="stylesheet">
<form id="lis-badge-form">
    <div class="form-row">
        <div class="form-element">
            <label><input type="checkbox" id="auto-increment-id"  name="auto_increment"> Auto Increment ID</label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element" >
            <label>Badge nummer (*)<input type="text" id="id-field" name="id"></label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element" >
            <label>RFID (*)<input type="text" id="rfid-field" name="rfid"></label>
        </div>
    </div>
</form>
