<link href="static/css/form.css" rel="stylesheet">
<form id="incident-form">
    <div class="prepared-visible">
        <div class="form-row">
            <div class="form-element"><label>Eigenaar<select id="owner-field" name="laptop_owner_id"></select></label></div>
        </div>
        <div class="form-row">
            <div class="form-element"><label>Laptop<select id="laptop-field" style="min-width: 400px" name="laptop_serial"></select></label></div>
        </div>
    </div>
    <div class="prepared-hidden">
        <div class="form-row">
            <div class="form-element"><label>Eigenaar<input name="laptop_owner_name" disabled></label></div>
        </div>
        <div class="form-row">
            <div class="form-element"><label>Laptop<input name="laptop_name" style="min-width: 400px" disabled></label></div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element"><label>Locatie<select id="location-field" name="location"></select></label></div>
        <div class="form-element"><label>Status<select name="incident_state"></select></label></div>
    </div>
    <div class="form-row">
        <div class="form-element">
            <label>Wat moet met de laptop gebeuren?<select id="lis-type-field" name="incident_type"></select>
            </label>
        </div>
    </div>
    <div class="form-row" hidden>
        <div class="form-element">
            <div style="display: flex; flex-direction: column">
                <p><b>Vorige info:</b></p>
                <p id="info_previous"></p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element">
            <label>Info<textarea id="info-field" rows="6" cols="80" style="line-height: 1" name="info"></textarea></label>
        </div>
    </div>
</form>
