<link href="static/css/form.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.3/dist/quill.snow.css" rel="stylesheet" />
<form id="ss-message-form">
    <div class="form-row">
        <div class="form-element"><label><input type="checkbox" id="default-message-chk" name="default_message">Standaard bericht?</label></div>
    </div>
    <div class="form-row">
        <div class="form-element"><label><input type="checkbox" id="co-accounts-chk" name="co_accounts">Ook naar coaccounts sturen?</label></div>
    </div>
    <div class="form-row">
        <div class="form-element"><label>Onderwerp<input id="message-subject" name="message_subject" size="40"></label>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element">
            <div style="width: 450px;">
                <div id="message-content" name="message_content"></div>
            </div>
        </div>
    </div>
</form>
