<link href="static/css/form.css" rel="stylesheet">
<form id="incident-form">
    <div class="form-row">
        <div class="form-element"><label>LIS badgenummer<input name="lis_badge_id" disabled></label></div>
    </div>
    <div class="form-row">
        <div class="form-element"><label>Eigenaar <input name="laptop_owner_name" disabled></label></div>
    </div>
    <div class="form-row">
        <div class="form-element"><label>Laptop<input name="laptop_name" disabled></label></div>
    </div>

    <div class="form-row">
        <div class="form-element"><label>Locatie<select id="location-field" name="location"></select></label></div>
        <div class="form-element"><label>Status<select id="incident-state-field" name="incident_state"></select></label></div>
    </div>

    <div id="group-1">
        <div class="form-row">
            <div class="form-element"><label>Wachtwoord<input id="password-field" name="laptop_owner_password"></label></div>
            <div class="form-element"><i id="password-show-field" class="fa-regular fa-eye-slash"></i></div>
            <div class="form-element"><label><input type="checkbox" id="password-default-chk" name="laptop_owner_password_default">Standaard paswoord?</label></div>
        </div>
        <div class="form-row">
            <div class="form-element"><label>Reserve laptop<input id="spare-field" name="spare_laptop_serial"></label></div>
            <div class="form-element"><label><input type="checkbox" id="spare-charger-chk" name="charger">Lader?</label></div>
            <button id="spare-badge-scan" class="btn btn-success">Scan badge van reservelaptop</button>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element">
            <label>Type incident<select id="lis-type-field" name="incident_type"></select></label>
        </div>
        <div id="hardware-repair-group">
            <label>M4S Categorie<input id="m4s-category-field" name="m4s_category" disabled></label>
            <label>M4S Probleem<input id="m4s-problem-type-guid-field" name="m4s_problem_type_guid" disabled></label>
        </div>
    </div>
    <div class="form-row" hidden>
        <div class="form-element">
            <div style="display: flex; flex-direction: column">
                <p><b>Vorige info:</b></p>
                <p id="info_previous"></p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element"><label>Info<textarea id="info-field" rows="6" cols="80" style="line-height: 1" name="info"></textarea></label></div>
    </div>
</form>
