<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet"/>
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<link href="static/css/form.css" rel="stylesheet">
<form id="incident-form">
    <div class="form-row">
        <div class="form-element">
            <label class="required">LIS badgenummer<input id="lis-badge-field" name="lis_badge_id"></label>
        </div>
        <button id="lis-badge-scan" class="btn btn-success">Scan LIS badge</button>
    </div>
    <div id="group-1">
        <div class="form-row" id="owner-row">
            <div class="form-element">
                <label class="required">Eigenaar<select id="owner-field" name="laptop_owner_id"></select></label>
            </div>
            <button id="owner-badge-scan" class="btn btn-success">Scan badge van eigenaar</button>
        </div>
        <div class="form-row">
            <div class="form-element">
                <label class="required">Laptop<select id="laptop-field" style="min-width: 400px" name="laptop_serial"></select></label>
            </div>
            <button id="laptop-code-scan" class="btn btn-success">Scan laptop label</button>
        </div>
        <div class="form-row">
            <div class="form-element"><label>Wachtwoord<input id="password-field" name="laptop_owner_password"></label></div>
            <div class="form-element"><i id="password-show-field" class="fa-regular fa-eye-slash"></i></div>
            <div class="form-element"><label><input type="checkbox" id="password-default-chk" name="laptop_owner_password_default">Standaard paswoord?</label></div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element">
            <label>Reserve laptop<input id="spare-field" name="spare_laptop_name"></label>
        </div>
        <div class="form-element">
            <label><input type="checkbox" id="spare-charger-chk" name="charger">Lader?</label>
        </div>
        <button id="spare-badge-scan" class="btn btn-success">Scan badge van reservelaptop</button>
    </div>
    <div class="form-row">
        <div class="form-element"><label>Locatie<select id="location-field" name="location"></select></label></div>
        <div class="form-element"><label>Status<input name="incident_state" disabled></label></div>
        <div class="form-element"><label><input type="checkbox" id="type-spare-laptop-chk" name="spare_laptop_check">Is het een reserve laptop?</label></div>
    </div>
    <div class="form-row">
        <div class="form-element">
            <label>Type incident<select id="lis-type-field" name="incident_type"></select>
            </label>
        </div>
        <div id="hardware-repair-group" class="form-element">
            <label>M4S Categorie<select id="m4s-category-field" name="m4s_category"></select></label>
            <label>M4S Probleem<select id="m4s-problem-type-guid-field" name="m4s_problem_type_guid"></select></label>
        </div>
    </div>
    <div class="form-row" hidden>
        <div class="form-element">
            <div style="display: flex; flex-direction: column">
                <p><b>Vorige info:</b></p>
                <p id="info_previous"></p>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-element">
            <label>Info<textarea id="info-field" rows="6" cols="80" style="line-height: 1" name="info"></textarea></label>
        </div>
    </div>
</form>
