.button-menu-placeholder {
    display: flex;
    justify-content: flex-start;
    width: 95%;
}

.button-menu-placeholder > button {
    color: #fff;
    background-color: #f8c604;
    border-color: #f8c604;
    margin: 0;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 5px;
}
.button-menu-placeholder > * {
    line-height: normal;
}

.button-menu-placeholder label {
    margin-bottom: 0;
    margin-right: 3px;
}

.button-menu-placeholder label input {
    margin-left: 5px;
}

.button-menu-placeholder .align-right {
    margin-left: auto;
}

