.column-invisible-a {
    border-color: orange;
}

.column-visible-a {
    border-color: #007bff;
}

.column-visible-div p {
    border-style: solid;
    border-radius: 1rem;
    padding: 0.2rem;
    margin-bottom: 0;
}

hr.divider-line {
    border-top: 10px solid #007bff;
    margin-bottom: 10px;
}

table.dataTable>tbody>tr>th,table.dataTable>tbody>tr>td {
    padding: 0;
}


.celledit-input {
    margin: 0;
    width: 100%;
}

