.form-row {
    display: flex;
    margin-bottom: 10px;
}

.form-row > * {
    margin-right: 10px;
}

.form-row button {
    margin: 0;
}

.form-element {
    display: flex;
    align-items: center;
}

.form-element > * {
    display: inline-block;
    margin-right: 10px;
}

.form-element > label {
    display: flex;
    align-items: center;
}

/* labels are right aligned against a vertical, centered line */
.vertical-center-label {
    width: 400px;
    justify-content: flex-end;
    text-align: right;
}

.form-element > label > input {
    vertical-align: middle;
    margin-top: 0;
    padding-left: 3px;
}

.form-element > label > textarea {
    line-height: 1;
    padding-left: 2px;
    resize: both;
}

.form-element > label > * {
    margin-left: 10px;
    margin-right: 5px;
}

/* elements are left aligned against a vertical, centered line */
.vertical-center-element {
    flex: 0 0 200px;
}

label.top {
    flex-direction: column;
    align-items: unset;
}

.form-element select, .form-element input {
    height: 28px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.form-element th, .form-element td {
    border: thin;
    border-style: solid;
    padding-right: 5px;
}

.form-element .required {
    color: orangered;
}


/* Style the button that is used to open and close the form-container content */
.form-container {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 4px;
    padding-left: 10px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-left:10px;
}

.form-container-1 {
    background-color: #ffc109;
    color: #ffffff;
}

.form-container-2 {
    background-color: #027cff;
    color: #ffffff;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .form-container:hover {
    opacity: 75%;
}

/* Style the form-container content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    width: 95%;
    border-style: solid;
    border-width: thin;
    border-color: #d2d2be;
    margin-left: 10px;
}